token: null
err_channel: null
roles: # set this to null to disable
    server: '109469702010478592' # secret hiding room
    image_path: '/var/www/www.raylu.net/f/roles.png'
    public_url: 'https://www.raylu.net/f/roles.png'
eve_db: 'sqlite-latest.sqlite'
zkillboard: # set this to null to disable
    alliance: 99002172
    channel: '282441291327864834'
reddit:
    api_id: null
    api_secret: null
twitter: # set this to null to disable
    bearer_token: null
    accounts:
        RiskofRain: '282441291327864834'
twitch: # set this to null to disable
    client_id: ''
    game_id: 65360 # go
    channel: '282441291327864834' # bot-testing
steam_news: # set this to null to disable
    427520: '282441291327864834' # factorio -> #bot-testing
warframe: # set this to null to disable
    channel: '326069638477774861'
autoreload: false
debug: false

# vim: set ft=yaml:
